<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
	
	 <div class="container">
	 <div class="row">
	 <div class="col-lg-12">
	  <div class="page-header">
  				<h1> <h:outputText value="#{weatherBean.resp.query.results.channel.location.city}" /> <small> <h:outputText value="#{weatherBean.resp.query.results.channel.location.city}" />,  <h:outputText value="#{weatherBean.resp.query.results.channel.location.country}" /></small></h1>
			 </div>
	 </div>
	 </div>
       	 <div class="row">
        	<div class="col-lg-4 col-md-6">
       		
        
			<div class="panel panel-default panel-primary">
			  <div class="panel-heading">Current: <h:outputText value="#{weatherBean.resp.query.results.channel.item.condition.date}" > <f:convertDateTime pattern="dd.MM.yyyy" />
</h:outputText></div>
			  <div class="panel-body">
			  <i class="wi"><h:outputText value="#{weatherBean.resp.query.results.channel.item.condition.getCodeString()}" /></i>
			  <div><h:outputText value="#{weatherBean.resp.query.results.channel.item.condition.text}" /></div>
			  <div class="current_temp"> <h:outputText value="#{weatherBean.resp.query.results.channel.item.condition.temp}" />° <h:outputText value="#{weatherBean.resp.query.results.channel.units.temperature}" /></div>
			   
			  </div>
			</div>
			</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="panel panel-default">
					<div class="panel-heading">Forecast:</div>
					  <div class="panel-body">
					  <div class="row">
					  
						<ui:repeat var="fc" value="#{weatherBean.resp.query.results.channel.item.forecast}" varStatus="status">
						  <div class="col-md-2 col-xs-6 #{status.first ? 'col-md-offset-1' : ''}">
						  <div><h:outputText value="#{fc.date}"> <f:convertDateTime pattern="dd.MM.yyyy" /></h:outputText></div>
						   <i class="wi"><h:outputText value="#{fc.getCodeString()}" /></i>
						    <div><h:outputText value="#{fc.text}" /></div>
						   <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <h:outputText value="#{fc.high}" />°<h:outputText value="#{weatherBean.resp.query.results.channel.units.temperature}" /><br />
						   <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <h:outputText value="#{fc.low}" />°<h:outputText value="#{weatherBean.resp.query.results.channel.units.temperature}" /><br />
						</div>
						</ui:repeat>
						</div>
					  </div>
					</div>
				</div>
      		</div> 
        <a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/> </a> 
	 </div>  	 
	
		</html>