<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Weather Demo</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><h:link outcome="index" value="Vienna"><f:param name="city" value="vienna" /></h:link></li>
                        <li><h:link outcome="index" value="London"><f:param name="city" value="london" /></h:link></li>
                        <li><h:link outcome="index" value="New York"><f:param name="city" value="newyork" /></h:link></li>
                       
                    </ul>
                   
                </div>
            </div>
        </div>
	
	
	</html>